# Ignore environment files
.env

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
venv/
.env/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore logs and temporary files
*.log
*.tmp
/tmp/

# IDE settings (Optional)
.vscode/
.idea/
